<ion-view view-title="Suben">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Iniciar Sesión</h1>
    </div>
    <ion-content class="padding">
      <br /><br /><br />
        <div class="list">
          <label class="item item-input">
            <input type="email" placeholder="E-Mail" ng-model="data.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Contraseña" ng-model="data.password">
          </label>
        </div>
        <button class="button button-block button-outline button-balanced" ng-click="login()">Iniciar Sesión</button>
        <a class="button button-block button-outline button-energized" href="#/main">Cancelar</a>
    </ion-content>
</ion-view>