<ion-view view-title="Suben">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Suben</h1>
    </div>
    <ion-content class="padding">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col text-center" >
            <img alt="Logo" height="200" src="img/icon.png" >
        </div>
        <a class="button button-block button-outline button-positive" href="#/login">Iniciar Sesión</a>
        <a class="button button-block button-outline button-balanced" href="#/register">Registro</a>
    </ion-content>
</ion-view>