<ion-view title="Suben" align-title="center">
  <br /><br />
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-android-radio-button-on placeholder-icon balanced"></i>
      <input type="text" placeholder="Inicio">
    </label>
    <label class="item item-input">
      <i class="icon ion-android-radio-button-on placeholder-icon assertive"></i>
      <input type="text" placeholder="Destino">
    </label>
  </div>
  <ion-content ng-controller="MapCtrl">
    <ion-footer-bar align-title="center" class="bar-stable">
      <h1 class="title">Carro/Paquetes</h1>
    </ion-footer-bar>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <div class="fixed-outside">
    <div class="row">
      <button class="button button-circle icon ion-navigate button-small" ng-click="centerOnPosition()"></button>
    </div>
  </div>
</ion-view>